/*******************************\
      	   NAVIGATION
\*******************************/

.navigation .navbar {
	background-color: white;
	border-radius: 0px;
}

.navigation .navbar .navbar-right {
	margin-right: 0px;
}

.navigation__container > li > a {
	color: $black !important;
	font-weight: bold;
}

.navigation__container > li > .vertical {
	line-height: 40px;
}

.navigation__container > .navigation__item > a {
	padding: 15px 30px;
}

.navigation__item:nth-child(5) {
	background-color: $green;
	padding: 3px 5px;
	border-bottom: 1px solid $green;
	&:hover {
		border-bottom: 1px solid $dropdown;		
	}
}

.navigation__item:not(:last-child) {
	border-left: 1px solid $border;
}

.navigation__item:nth-child(2):hover {
	border-left: 1px solid $dropdown;	
}

.navigation__container > li:hover, 
.navigation__container > li:focus,
.navigation__container > li > #active:hover, 
.navigation__container > li > #active:focus {
	background-color: $dropdown;
	color: $white !important;
	transition: all 0.1s ease;
}

.navigation__container > li > a:hover {
	color: $white !important;	
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav > .open, 
.navbar-default .navbar-nav > .open:focus, 
.navbar-default .navbar-nav > .open:hover {
	background-color: $dropdown;	
}

/*******************************\
      	 DROPDOWN MENU
\*******************************/

.navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}

.dropdown-menu {
	border: none;
	background-color: $dropdown;
	padding: 30px 40px 20px 11px;
	border-radius: 0px;
}

.dropdown-menu li a {
	color: $white;
	font-weight: bold;
	line-height: 2em;
}

.dropdown-menu li a:hover {
	background-color: transparent;
	color: $background;
}

@media screen and(min-width: 768px) and (max-width: 992px) {
 	 .navigation__container > .navigation__item > a {
 	 	padding: 15px;
 	 }
}

@media screen and(max-width: 768px) {
	 .navbar-toggle {
	 	border: none;
	 }

 	 #logo {
 	 	height: 100%;
 	 }

 	 .navigation__container > li > #active {
 	 	margin-top: -8px;
 	 }

 	 .search-icon {
 	 	text-align: center;
 	 	margin-bottom: -7px;
 	 }

 	 .navigation__item:not(:last-child) {
		border-left: none;
   	 }

	 .dropdown-menu {
		padding: 15px 40px 0px 15px;
	 }

 	 .navigation__container li br {
 	 	display: none;
 	 }

	 .navigation__container > li > .vertical {
		line-height: normal;
	 }

 	 .navigation__item {
 	 	text-align: center;
 	 	border-left: none;
 	 	margin-right: -15px;
 	 }

 	 .navigation__item:nth-child(2):hover {
 	 	border-left: none;
 	 }

 	 .navigation__item:nth-child(5), .navigation__item:nth-child(5):hover {
 	 	border-bottom: none;
 	 }

     .navbar-nav .open .dropdown-menu {
     	background-color: white;
     }
}
